@import 'reset.css';
@import 'variables.css';

* {
  box-sizing: border-box;
}

.contentBox {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contentBox__colors {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: space-around;
}

.colors__colorItem {
  width: 12rem;
  background-color: salmon;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .colorItem__colorCode {
  
} */

.colors__colorItem p:hover {
  cursor: pointer;

}

.contentBox__buttons {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.generateBtn {
  font-size: var(--font-size);
  padding: 1rem;
  border-radius: 20px;
}

.generateBtn:hover {
  opacity: 0.5;
}

.none {
  display: none;
}